h3{
    color: rgb(238, 9, 9);
}
.presse{
    color: blue;
}



h1{
 color: rgb(0, 255, 94); 
}


h1{
    font-style: italic;
font-weight: bold
}
  

p{
    color: blue
}


h2{
    color: red;
}

.MR {
    color: black;
}
ul{
    color: rgb(0, 255, 38);
}

h1 {
    font-size: larger;
}

h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
}
